In [1]:
import numpy as np
import pandas as pd

In [2]:
movie_data_df = pd.read_csv('tmdb-movies.csv', header=0)
# import data and use row 0 as index

In [3]:
new_moviedb_df =  movie_data_df.join(movie_data_df.pop('genres').str.get_dummies())
# split the genres column to separate columns for ease of data corelation
# source: https://stackoverflow.com/questions/47248727/parsing-csv-file-with-pandas-in-python3

In [4]:
# command ref
# new_moviedb_df.iloc[:, 21:].head() ---look at specific columns by numeric equivalent
# new_moviedb_df[['Adventure', 'Comedy']].head() ---look by column name
# new_moviedb_df.columns[20 : 42] ---display column name
# new_moviedb_df.iloc[:, 20:42].columns.values.tolist() ---list column names
# new_moviedb_df.iloc[:, 20:42].applymap(lambda x: True if x == 1 else x)
# new_moviedb_df.groupby('Action', as_index=False).mean()['revenue'] ---group by genre and look at revenue mean
# movie_data_df[movie_data_df.revenue != 0] ---remove 0 field in revenue

In [5]:
new_moviedb_df.iloc[:, 20 : 42] = new_moviedb_df.iloc[:, 20 : 42].applymap(lambda x: True if x == 1 else x).applymap(lambda x: False if x== 0 else x)
# Convert 0 and 1 to Boolean for the Genre field
# https://stackoverflow.com/questions/38499747/converting-all-occurrence-of-true-false-to-1-0-in-a-dataframe-with-mixed-datatyp

In [26]:
def remove_zero_row(df, row_name):
    """
    Remove the whole row when there is a '0' value in the specified row name
    """
    return df[df[row_name] != 0]

def get_genre_mean(df, group_row, look_at_row):
    """
    Gets the mean of the genre row "look_at_row" from a specified grouped df by "group_row"
    """
    return df.groupby(group_row, as_index=False).mean()[look_at_row].loc[1]
    # loc[1] is meant to get the value only for boolean "True" dataset

In [7]:
# new_moviedb_df_nonzero = new_moviedb_df[new_moviedb_df.revenue != 0]
nonzero_revenue_moviedb_df = remove_zero_row(new_moviedb_df, 'revenue')

In [8]:
nonzero_revenue_moviedb_df.groupby('Action', as_index=False).describe()['revenue']

,count,mean,std,min,25%,50%,75%,max
0,3589.0,7.221415e+07,1.300131e+08,2.0,5867686.0,27379978.0,82150642.0,1.845034e+09
1,1261.0,1.376238e+08,2.231144e+08,3.0,14567883.0,55583804.0,161626121.0,2.781506e+09

In [9]:
nonzero_revenue_moviedb_df.groupby('Action', as_index=False).max()['revenue']

0    1845034188
1    2781505847
Name: revenue, dtype: int64

In [10]:
new_moviedb_df.groupby('Action', as_index=False).mean()['revenue']

0    3.055967e+07
1    7.276462e+07
Name: revenue, dtype: float64

In [19]:
nonzero_revenue_moviedb_df.groupby('Action', as_index=False).mean()['revenue']

0    7.221415e+07
1    1.376238e+08
Name: revenue, dtype: float64

In [25]:
# nonzero_revenue_moviedb_df.groupby('Action', as_index=False).mean()['revenue'].loc[1]
get_genre_mean(nonzero_revenue_moviedb_df, 'Action', 'revenue')

137623797.06106263