In [1]:
import numpy as np
import pandas as pd

In [38]:
movie_data_df = pd.read_csv('tmdb-movies.csv', header=0)
# import data and use row 0 as index

In [39]:
new_moviedb_df =  movie_data_df.join(movie_data_df.pop('genres').str.get_dummies())
# split the genres to separate columns for ease of data corelation
# source: https://stackoverflow.com/questions/47248727/parsing-csv-file-with-pandas-in-python3

In [51]:
new_moviedb_df.iloc[:, 21:].head()

,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
3,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0

In [54]:
new_moviedb_df[['Adventure', 'Comedy']].head()

   Adventure  Comedy
0          1       0
1          1       0
2          1       0
3          1       0
4          0       0